.about-block{
  background: white;
  position:relative;
  padding: 5%;
  @media (min-width: 992px){
    padding: 5%;
  }
  //title items
  .title-banner{
    .fieldset-wrapper{
      text-align: center;
      margin: auto;
      @media (min-width: 768px){
        display: flex;
        flex-wrap: nowrap;
      }
      @media (min-width: 992px){
        max-width: 992px;
      }
      @media (min-width: 1200px){
          max-width: 1140px;
      }
      .field--name-field-nombre-del-sitio{
        @extend %h2-white;
        font-size: 2rem;
        margin-bottom: 0;
        @media (min-width: 768px){
          flex: 1 1 50%;
          text-align: left;
        }
      }
      .field--name-field-ver-mas{
        @media (min-width: 768px){
          flex: 1 1 50%;
          text-align: right;
        }
        a{
          color: $blue;
          i{
            &::before{
              padding: 10px;
            }
          }
        }
      }
    }
  }
  //end title-items
  //data description
  .data-description{
    .fieldset-wrapper{
      padding-top: 20px;
      flex-direction: column-reverse;
      @media (min-width: 992px){
        display: flex;
        flex-wrap: nowrap;
        max-width: 992px;
        margin:auto;
        flex-direction: initial;
      }
      @media (min-width: 1200px){
          max-width: 1140px;
      }

      .field--name-field-description-banner{
        @media (min-width: 992px){
        flex: 1 1 33%;
        }
        .tpl-progress{
          margin-bottom: 50px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 1px;
          overflow: visible;
          height: 2px;
          background: #f0f0f0;
          border-radius: 0px;
          box-shadow: none;
          .progress-bar{
            padding-top: 2px;
            position: relative;
            overflow: visible;
            background-color: #222;
            font-size: 11px;
            color: #000;
            text-align: left;
            box-sizing: border-box;
            transition: width .6s ease;
          }
        }
      }
      .field--name-body{
        text-align: justify;
        margin: 0;
        color: #777;
        @media (min-width: 768px){
          text-align: justify;
        }
        @media (min-width: 992px){
        flex: 1 1 66%;
        padding-left: 10%;
        }

      }
    }
  }
}
//   width: 100%;
//   padding: 10px 0;
//   color: black;
//   height:100vh;
//   @media (min-width: 768px){
//     height:90vh;
//     padding: 140px 0;
//   }
//   @media (min-width: 992px){
//     height:70vh;
//   }
//   .content{
//     position: absolute;
//     text-align: center;
//     width: 100%;
//     // left: 50%;
//     // top: 50%;
//     // transform: translate3d(-50%, -50%, 0);
//     // margin-top: 25% 0;
//     // @media (min-width: 576px){
//     //   max-width: 540px;
//     // }
//     // @media (min-width: 768px){
//     //   max-width: 720px;
//     // }
//     @media (min-width: 992px){
//       max-width: 960px;
//       left: 50%;
//       top: 50%;

//       transform: translate3d(-50%, -50%, 0);
//     }
//     @media (min-width: 1200px){
//       max-width: 1140px;

//     }
//     fieldset.title-banner{
//       .aos-animate{
//         a{
//           color:black;
//           &:hover{
//             color:$blue;
//           }
//         }
//       }
//       .fieldset-wrapper{
//         // display: flex;
//         // width: 100%;
//         // justify-content: space-between;
//         @media (min-width: 992px){
//           display: flex;
//           justify-content: space-between;
//           width: 100%;
//         }
//         .field--name-field-nombre-del-sitio{
//           @extend %h2-white;
//           font-size: 2rem;
//         }
//         .field--name-field-ver-mas{
//           a{
//             color: $blue;
//             i{
//               &::before{
//                 padding: 10px;
//               }
//             }
//           }
//         }
//       }
//     }
//     fieldset.data-description{
//       .fieldset-wrapper{
//         display: flex;
//         flex-direction: column-reverse;
//         // margin: 0 10px;
//         // display: flex;
//         // width: 100%;
//         @media (min-width: 768px){
//           margin: 0 10%;
//         }
//         @media (min-width: 992px){
//           margin: auto;
//           width: 100%;
//           justify-content: space-between;
//           flex-direction: initial;

//         }
//         .field--name-field-description-banner{
//           width: 100%;
//           margin-top: 20px;
//           @media (min-width: 992px){
//             margin-top: 0;
//             margin-right: 10%;
//           }
//           .tpl-progress{
//             margin-bottom: 50px;
//             font-weight: 400;
//             text-transform: uppercase;
//             letter-spacing: 1px;
//             overflow: visible;
//             height: 2px;
//             background: #f0f0f0;
//             border-radius: 0px;
//             box-shadow: none;
//             .progress-bar{
//               padding-top: 2px;
//               position: relative;
//               overflow: visible;
//               background-color: #222;
//               font-size: 11px;
//               color: #000;
//               text-align: left;
//               -moz-box-sizing: border-box;
//               -webkit-box-sizing: border-box;
//               box-sizing: border-box;
//               transition: width .6s ease;
//             }
//           }
//         }
//         .field--name-body{
//           text-align: justify;
//           margin: 0;
//           @media (min-width: 768px){
//             // margin-left: 10%;
//             text-align: justify;
//           }
//           // margin-left: 10%;
//         }

//       }
//     }
//   }
// }
