.banner-home, .view-banner-block{
  height: 90vh;
  position: relative;
  .data-description{
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    text-transform: uppercase;
    text-align:center;
    width: 100%;
    .field--name-field-nombre-del-sitio{
      font-size: 7em;
      line-height: 1em;
      margin: auto;
      color:white;
    }
    .field--name-field-description-banner{
      font-size: 2em;
      @media(min-width: 768px){
        font-size: 3em;
      }
      color:white;
      strong{
        color: $primary-header;
      }
    }
    .field--name-field-ver-mas{
      padding: 20px;
      a{
        border: 2px solid $primary-header;
        background: transparent;
        transition: all 0.2s ease-out 0s;
        min-height: 0px;
        min-width: 0px;
        line-height: 15px;
        border-width: 2px;
        margin: 0px;
        padding: 7px 33px;
        letter-spacing: 1px;
        font-size: 15px;

        &:hover{
          background: $primary-header;
          color: $blue;
        }
      }
    }
  }
}
