// .our-allies-block{
//   background: #f8f8f8;
//   width: 100%;
//   padding: 40px 0;
//   position:relative;
//   color: black;
  .view-our-allies{
    background: #f8f8f8;
    width: 100%;
    padding: 40px 0;
    position:relative;
    color: black;
    .view-header{
      text-align: center;
      text-transform: uppercase;
    }
    .view-content{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      @media (min-width: 768px){
        flex-direction: row;
        padding: 0 25%;
        margin: 0;
      }
      @media (min-width: 1520px){

      }
      .views-row{
        position:relative;
        color: #444;
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        text-align: center;
        filter: grayscale(100%);
        @media (min-width: 769px){
          flex: 1 0 33%;
          text-align: center;
        }
        .views-field-field-image-allies{
          @media (min-width: 769px){
            top: 50%;
            position: relative;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            padding: 0 25%;
          }
        }
      }
    }
  }
//}
