/* TYPOGRAPHY */


/* Google Fonts */

//@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic");
//@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900");
// font families
$font-custom:  '../fonts/square721bt' !default;

@font-face {
    font-family: 'Square721Bt';
    src: url('#{$font-custom}/Square721Bt-Roman.ttf') format('truetype'), url('#{$font-custom}/Square721Bt-Bold.ttf') format('truetype');
    font-display: swap;
}

// @font-face {
//   font-family: 'Square721Bt-Bold';
//   src: local('#{$font-custom}/Square721Bt-Bold.ttf') format('truetype');
//   font-display: swap;
// }


$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem; //20px
$font-size-sm: .875rem; //14px
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
// ------| text |-----
$font-10: .625rem;
$font-12: .8rem;
$font-14: .9rem;
$font-16: 1rem;
$font-18: 1.13rem;
$font-20: 1.3rem;
$font-22: 1.4rem;
$font-24: 1.5rem;
$font-26: 1.625rem;
$font-30: 1.875rem;
$font-46: 2.875rem;
$font-48: 3rem;
$font-55: 3.4375rem;
