.node--type-blog{
  .node__content{
    background: white;
    .field--name-body{
      text-align: justify;
    }
    .block-addtoany{
      padding: 10px;
      text-align: center;
    }
  }
}
.header-blog{
  background: #f8f8f8;
  margin-top: 90px;
  padding: 70px 0;
  >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 992px){
      flex-direction: initial;
      display: flex;
      justify-content: space-evenly;
    }
    .blog-block{
      text-align: center;
      text-transform: uppercase;
      h1{
        color:black;
        max-width: 600px;
        text-align: left;
        @media(max-width: 992px){
          text-align: center;
          font-size: 2rem;
        }
      }
      h2{
        color:#777;
        max-width: 600px;
        text-align: left;
        font-size: 1.5rem;

        @media(max-width: 992px){
          text-align: center;
          font-size: 1rem;
        }
      }
      h3{
        text-align: left;
        a{
          color: #5ABAE1;
          &:hover{
            color: #5ABAE1;
          }
        }
        @media(max-width: 992px){
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
    ol.breadcrumb{
      @media(max-width: 992px){
        font-size: $font-12;
      }
      a{
        color:#000066;
      }
      .breadcrumb-item+.breadcrumb-item{
        &.active{
          color: black;
        }
        &::before{
          @media(max-width: 992px){
            padding-right: .2rem;
          }
        }
      }
    }


  }
}
.content-blog{
  background: white;
  justify-content: center;
  color: #777;
  flex-direction: column-reverse;
  @media(min-width: 992px){
    padding: 2% 0;
    flex-direction: initial;
  }
  .layout__region--first{
    @media(min-width: 992px){
      flex: 0 1 25% !important;
    }
  }
  .layout__region--second{
    width: 100%;
    @media(min-width: 992px){
      flex: 0 1 66% !important;
      margin-left: 8.33333333%;
    }
    // @media(max-width: 992px){
      // padding: 2%;
      p+p,ul{
        margin: .5rem;
      }
    // }
    .blog-media{
      padding: 2% 0;
      width: 100%;
      .field--type-image{
        margin:0;
      }
      img{
        width: 100%;
        max-height: 343px;
        object-fit: cover;
        margin:0;
        padding-bottom: 10px;
      }
    }
  }
}
.list-categories{
  padding: 2%;

  a{
    color: $blue;
    text-decoration: none;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.17s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    font-size: 14px;
    padding-right: 10px;
    @media(min-width: 992px){
      padding-right: 0;
    }
    &:hover{
      color: #777;
    }
  }
  // @media(min-width: 992px){
  //   padding: 0;
  // }
  .view-header{
    text-transform: uppercase;
    h5{
      border-bottom: 1px solid #777;
    }
  }
  .view-content{
    @media(min-width: 992px){
      flex-direction: column;

    }
    .views-row{
      span{
        display: none;
        font-size: 14px;
        @media(min-width: 992px){
          display: initial;
        }
      }
    }
  }
  &.tags{
    .view-content{
      flex-direction: row;
      font-size: $font-14;
      text-transform: uppercase;
      .views-row{
        margin: 0 5px 10px 0;
        a{
          padding: 5px 7px;
          color: $blue;
          border: 1px solid;
          font-size: 11px;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          &:hover{
            color: white;
            background: #000066;
            border: 1px solid #000066;
          }
        }
      }
    }
  }
}
